* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

ul, li {
    list-style: none;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 50px;
    background-color: chocolate;
    color: white;
    border-radius: 30px;
    width: 800px;

    display: flex;
}

.card .card-image-container {
    margin-top: auto;
    margin-bottom: auto;
    width: calc(100% / 3);
    flex-shrink: 0;
}

.card-image-container .card-image {
    width: 100%;
}

.card .card-content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .card-content .card-descriptions {
    display: flex;
}

.card-descriptions .card-description-single {
    padding: 5px;
}